.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #f5f5f5;
    font-size: 12px;
}

.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

.table td {
    padding: 6px;
    font-size: 12px;
}
